<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Checkers Online</title>
        <link rel="stylesheet" href="/css/checkers-styles.css" />
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="icon" href="/img/favicon.png" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Crete+Round&display=swap" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        {{>header}}
        {{>sidebar}}
        <h2 class="versus-header">Player1 VS. Player2</h2>
        <a href="/" style="margin-left: 30%;">Home</a>
        <div id="board" class="board">

        </div>
        {{>chat}}
        <button id="justabutton">justabutton</button>
        {{>footer}}

    {{!-- Temporary --}}
    

        {{!-- <script src="/js/checkers-app.js"></script> --}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script type="module" src="/js/game-room.js"></script>
        <script type="module" src="/js/utils/sockets.js"></script>
        <script src="/js/checkers-app.js"></script>
    </body>
</html>