<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkers Online</title>
    <link rel="stylesheet" href="/css/checkers-styles.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/favicon.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Crete+Round&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    {{>header}}
    {{>sidebar}}

    {{!-- <div id="board" class="board">

    </div> --}}

    <div class="chat-container">
        {{>chat}}
    <a href="/game-room">Game room</a>
    <a href="/sign-up">Signup page</a>
    </div>
    
    {{>footer}}
    
    {{!-- <script src="/js/checkers-app.js"></script> --}}
</body>
</html>