<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Checkers Online - Log In</title>
        <link rel="stylesheet" href="/css/checkers-styles.css" />
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="icon" href="/img/favicon.png" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Crete+Round&display=swap" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        {{>header}}

    {{!-- Temporary --}}
    
    {{!-- <a href="/" style="margin-left: 30%;">Home</a> --}}

    {{!-- Temporary --}}

        <div class="login-container">
            <div class="login-form">
                <h1>Login</h1>
                <form id="login-form">
                    <p>
                        <label for="email" class="email-field">Email:</label><br>
                        <input type="text" id="login-email" name="email" placeholder="Enter your email" required/><br><br>
                    </p>
                    <p>
                        <label for="password">Password:</label><br>
                        <input type="password" id="login-password" name="password" placeholder="Enter your password" required />
                    </p>
                    <input type="submit" value="Submit" class="submit-button"/>
                </form>
            </div>            
        </div>
        <div class="login-sign-up-redirection">
            <p>Don't have an account? Please Sign Up <a href="/sign-up">here.</a></p>
            
        </div>

        {{>footer}}

        <script type="module" src="./js/login.js"></script>
    </body>
</html>