<header>
    <h1>{{title}}</h1>
    <div class="user-info">
        <div class="avatar-nickname-container">
            <img id="user-avatar"></img>
            <div id="user-nickname"></div>
        </div>
        <div class="level-progressBar-container">
            <div id="level" class="level"></div>
            <div class="progress-bar-container">
                <div id="filled-bar" class="filled-bar"></div>
                <div id="empty-bar" class="empty-bar"></div>
            </div>
        </div>

    </div>
    <button id="logout-button" class="logout-button">Logout</button>
</header>