<div id="sidebar" class="sidebar">
    <h3>Online Players:</h3>
    <p>user1</p>
    <p>user2</p>
    <p>user3</p>
</div>
<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/js/lobby.js"></script>